<nav class="navbar navbar-light">
  <div class="container-fluid crud-container">
    <h1>Contact Manager</h1>
    <div class="d-flex">
      <button
        (click)="createGroup()"
        type="button"
        class="btn btn-success create-group-btn"
      >
        Create Group
      </button>

      <button (click)="logout()" type="button" class="btn btn-primary">
        Logout
      </button>
    </div>
  </div>
</nav>

<section>
  <div class="container-fluid navbar">
    <h2>Groups</h2>
    <div class="mx-3 d-flex">
      <input
        type="text"
        name="search"
        id="search"
        [(ngModel)]="searchText"
        class="form-control"
        placeholder="search"
      />
    </div>
  </div>
</section>

<section>
  <div class="card" *ngIf="showAdd">
    <div class="card-body">
      <form [formGroup]="groupForm">
        <div class="row">
          <div class="mb-3 col-md-6 col-sm-4">
            <!-- <label for="groupname" class="form-label">Group Name</label> -->
            <input
              formControlName="groupName"
              type="text"
              class="form-control"
              id="groupname"
              aria-describedby="groupname"
              placeholder="Group Name"
            />
          </div>
          <div class="col-md-6 col-sm-8">
            <button (click)="postGroup()" type="button" class="btn btn-primary">
              Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div
    class="card"
    *ngFor="let group of groups | searchFilter: searchText:'groupName'"
  >
    <div class="card-body row" [ngClass]="{ inactive: !group.isActive }">
      <div [ngClass]="group.isEditing ? 'col-12' : 'col-md-6 col-sm-3'">
        <a
          [routerLink]="[group.id]"
          class="link-primary"
          *ngIf="!group.isEditing; else editInput"
        >
          {{ group.groupName }}</a
        >
        <ng-template #editInput>
          <input type="text" [(ngModel)]="groupNameForEdit" />
          <button
            type="button"
            class="btn btn-primary mx-3"
            (click)="editGroup(group)"
          >
            Save
          </button>
        </ng-template>
      </div>
      <div class="col-md-6 col-sm-9 action-group" *ngIf="!group.isEditing">
        <button (click)="openEdit(group)" type="button" class="btn btn-info">
          Edit
        </button>
        <button (click)="deleteGroup(group)" class="btn btn-danger mx-3">
          Delete
        </button>

        <button
          (click)="deactivateGroup(group)"
          class="btn btn-secondary"
          *ngIf="group.isActive; else activateBtn"
        >
          Deactivate
        </button>
        <ng-template #activateBtn>
          <button
            (click)="activateGroup(group)"
            class="btn btn-info activate-btn"
          >
            Activate
            <span
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
              *ngIf="isStatusChangeInProcess"
            ></span>
          </button>
        </ng-template>
        <button
          (click)="openCreateContactModal(group)"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#createContactModal"
          class="btn btn-success mx-3"
        >
          Create Contact
        </button>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div
  class="modal fade"
  id="createContactModal"
  tabindex="-1"
  aria-labelledby="createContactModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createContactModalLabel">
          Contact Details
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="contactForm">
          <div class="mb-3">
            <label for="firstname" class="form-label">First Name</label>
            <input
              formControlName="firstName"
              type="text"
              class="form-control"
              id="firstname"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="lastname" class="form-label">Last Name</label>
            <input
              formControlName="lastName"
              type="text"
              class="form-control"
              id="lastname"
            />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email ID</label>
            <input
              formControlName="email"
              type="email"
              class="form-control"
              id="email"
            />
          </div>
          <div class="mb-3">
            <label for="mobile" class="form-label">Mobile No</label>
            <input
              formControlName="mobile"
              type="number"
              class="form-control"
              id="mobile"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          id="cancel"
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button (click)="createContact()" type="button" class="btn btn-primary">
          Add
        </button>
        <button
          *ngIf="showUpdate"
          (click)="updateContactDetails()"
          type="button"
          class="btn btn-primary"
        >
          Update
        </button>
      </div>
    </div>
  </div>
</div>
